/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */


.page {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: auto;
  background-image: var(--background-url);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}

/*.header {
  display: flex;
  flex-direction: column;
  align-items: end;
  position: relative;
  height: 100vh;
  max-height: 668px;
}*/

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  height: 100vh;
  position:relative;
  width: 100%;
}

.container {
  margin: 0 10px 0 10px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  border-top: 1px solid var(--angle-color);
  border-right: 1px solid var(--angle-color);
  right: 10px;
  top: 10px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  border-left: 1px solid var(--angle-color);
  border-bottom: 1px solid var(--angle-color);
  left: 10px;
  bottom: 10px;
}

.rec {
  position: absolute;
  text-transform: uppercase;
  display: var(--rec-display);
  color: var(--accent-color);
  top: 11px;
  right: 18px;
  min-width: 53px;
  font-family: "IBM Plex mono", sans-serif;
  font-size: 18px;
  font-weight: 400;
  cursor: default;
}

.rec::after {
  content: "";
  display: inline-block;
  margin-left: 12px;
  margin-bottom: 2px;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  background-color: var(--accent-color);
  border-radius: 50%;
  width: 9px;
  height: 9px;
  top: 18px;
  right: 3px;
}

.header__theme-menu {
  margin-top: 19%;
  padding-left: 16px;
  width: 6rem;
  position: relative;
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-wrap: wrap;
  gap: 9px;
  list-style: none;
  font-family: var(--font);
}

.header__theme-menu-button {
  appearance: none;
  min-width: 70px;
  min-height: 26px;
  font-size: 18px;
  background: transparent;
  background-color: transparent;
  text-transform: lowercase;
  cursor: pointer;
  display: block;
  border: none;
  color: var(--button-color);
  border: 1px solid transparent;
}

.header-text, h3 {
  color: var(--subtitle-color);
  cursor: default;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-border);
}

.header__theme-menu-button:focus {
outline: none;
border: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--focus-color);
  outline: none;
}

.header__theme-menu-button_active {
  border: 1px solid var(--button-active);
  pointer-events: none;
}


.title-decor {
  display: block;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--h1-title-decor);
  text-shadow: 2px 2px 0 var(--accent-color);
  font-weight: 700;
  line-height: 96px;
  font-family: var(--font);
  cursor: default;
  align-self: start;
  grid-row: 2;
  padding-left: 3%;
}

.header-text {
  margin: 0 10px 66px;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  font-family: var(--font);
  min-width: 345px;
  background-color: var(--accent-color);
  cursor: default;
  grid-row: 3;
  align-self: end;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-family: var(--font);
  font-weight: 700;
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  line-height: 23.4px;
  cursor: default;
}

.title-accent {
  color: var(--h2-color);
}

.title-tablet-card {
  font-weight: 400;
}

.card-title {
  background-color: var(--accent-color);
  color: var(--subtitle-color);
  margin-top: 20px;
}

.article-tablet-title {
  margin-top: 0;
}

.card-text {
  font-family: var(--font);
  font-weight: 400;
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  line-height: 23.4px;
  color: var(--text-color);
  margin-top: 10px;
  cursor: default;
}

.section {
  min-width: 355px;
  box-sizing: border-box;
  margin-bottom: 50px;
}

.section:last-child {
  margin-bottom: 40px;
}

.section:first-child {
  margin-top: 41px;
}

.section-img .card-title {
  margin-bottom: 8px;
}

.section-link {
  text-shadow: 2px 2px 0 var(--accent-color);
  color: var(--text-color);
  text-decoration: none;
}

.section-link:hover {
  border-bottom: 1px solid var(--text-color);
}

.section-link:focus {
  outline: none;
}

.section-link:focus-visible {
  outline: 1px solid var(--text-color);
}

.link-decor-none {
  text-decoration: none;
}

.images-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.footer {
  height: 100vh;
  position: relative;
  min-height: 668px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.footer-text {
  display: block;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--h1-title-decor);
  text-shadow: 2px 2px 0 var(--h1-shadow);
  font-weight: 700;
  line-height: 96px;
  font-family: var(--font);
  position: relative;
}

.img-section {
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media (width >= 768px) {
  .page {
    margin: auto;
  }

  .section {
    max-width: 1024px;
    margin-bottom: 74px;
  }

  .section:last-child {
    margin-bottom: 60px;
  }

  .container {
    margin: 0 20px;
  }

  .header {
    min-height: 1024px;
    margin-bottom: 55px;
    grid-template-rows: 1fr 85px 1fr;
  }

  .header__theme-menu-list {
    gap: 9.1px;
  }

  .title-decor {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    padding: 0;
    align-self: end;  
  }

  .title {
    margin-top: 4px;
  }

  .header-text {
    max-width: 47%;
    justify-self: end;
    align-self: center;
    margin-right: 3%;
    margin-top: 6%;
  }

  .rec::after {
    top: 28px;
    right: 2px;
  }

  .tablet-title {
    width: 236px;
    padding-top: 5px;
  }

  .header__theme-menu {
    margin: 24.5% 1.5%;
    justify-self: end;
  }

  .title-accent-wrap {
    width: 236px;
    margin-top: 7px;
  }

  .desctop-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 13px;
    margin-top: 15px;
  }

  .card-title {
    margin-top: 6px;
  }

  .section-img {
    margin-top: 80px;
  }

  .article-tablet-title {
    margin-top: 6px;
  }

  .card-title-tablet {
    margin-top: 6px;
  }

  .title-tablet-card {
    margin-top: 20px;
  }

  .section-wrap {
    display: flex;
    gap: 20px;
  }
  
  .content-wrapper {
  gap: 14px;
}

.section-tablet {
    margin-top: 75px;
  }

  .card-container-wrap {
    width: 472px;
  }

  .images-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 195px 229px 319px;
    gap: 20px;
  }

  .footer {
    position: relative;
    min-height: 1024px;
    margin-top: -3px;
  }

  .footer-text {
    text-align: center;
    margin-top: 0;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
  }

  .sunset-column,
  .street-column {
    grid-column: span 2;
  }

  .ice-cream-row,
  .tape-row {
    grid-row: span 2;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .rec {
    top: 20px;
    right: 28px;
  }

  .rec::after {
    margin-bottom: 1px;
    margin-left: 10px;
  }

  .section-img .card-title {
    margin-bottom: 20px;
  }
}

@media (width >= 1024px) {
  
  .rec::after {
    margin-bottom: 3px;
    margin-left: 10px;
  }
  
  .page {
    max-width: 1024px;
  }

  .rec {
    top: 21px;
    right: 27px;
  }

  .container {
    margin: -16px 20px 0 20px;
  }

  .header {
    min-height: 768px;
    grid-template-rows: 1fr 95px 1fr;
  }

  .heared-decor-wrapper {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .header__theme-menu {
    margin: 1.6% 38.7% 0 0;
    padding: 0;
    width: fit-content;
  }

  .header__theme-menu-list  {
    gap: 10px;
  }

  .title-decor {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    text-shadow: 2px 2px 0 var(--h1-shadow);
    
  }

  .header-text {
    max-width: 48%;
    min-height: fit-content;
    margin: 0 2% 0 0;
  }

  .article-wrapper {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    gap: 20px;
  }

  .section:first-child {
    margin-top: 76px;
  }

  .section-img .card-title {
    margin-bottom: 20px;
  }

  .section-wrap {
    display: flex;
    justify-content: space-between;
  }

  .section {
    margin-top: 78px;
  }

  .title {
    margin-top: 1px;
  }

  .title-accent {
    width: 315px;
  }

  .card-title {
    padding-top: 0;
    margin-top: 0;
  }

  .article-tablet-title {
    margin-top: 0;
  }

  .card-container-wrap {
    width: 649px;
  }

  .card-desctop {
    width: 32%;
  }

  .images-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 260px 315px 433px;
  }

  .street-column {
    margin-top: 5px;
    height: 428px;
  }

  .sunset-column,
  .street-column {
    grid-column: span 2;
  }

  .ice-cream-row,
  .tape-row {
    grid-row: span 2;
  }

  .desctop-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 19px;
    margin-top: 19px;
  }

  .footer {
    min-height: 768px;
    margin-top: 60px;
  }

  .footer-text {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
    text-shadow: 2px 2px 0 var(--h1-shadow);
    margin-top: 0;
  }

  .decorated-zone::before {
    top: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
  }

  .section:last-child {
    margin-bottom: 51px;
  }

  .content-wrapper {
    gap: 20px;
  }
}